@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=IBM+Plex+Mono&family=Inter&display=swap');

body {
  background-color: #FEFDFC;
  margin: 0;
  min-width: 320px;
}

.container {
  margin: 0px 80px;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 1;
  background-color: #FEFDFC;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  padding-top: 100px;
  background-color: #FEFDFC;
}

/* HEADER START */
/* PROMO START */
.promo {
  background-color: #383230;
}

.promo-content {
  height: 30px;
}

.promo-section {
  align-self: center;
}

.promo-section>p {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px 16px;
}

.promo-section>p:hover {
  color: #e3e3e3;
}

/* PROMO END */

.header-section {
  display: flex;
  height: 61px;
  align-self: center;
  margin: 0px 16px;
}

.header-section>div {
  align-self: center;
}

.logo {
  justify-content: center;
}

.header-section>ul {
  list-style-type: none;
  display: flex;
}

.header-section>ul>li {
  justify-content: center;
  align-self: center;
  display: inline;
  margin: 0px 10px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #383230;
  transition: position 0.5s;
}

.header-section>ul>li:hover {
  transform: scale(1.2);
}

.menu {}

.menu-icon {
  display: none;
}

.right-menu {
  justify-content: end;
}


/* BURGER MENU START */

.nav-bar {
  position: fixed;
  background-color: #383230;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle-menu {
  position: fixed;
  top: 47px;
  left: 14px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #383230;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-4.5px, 3.5px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-4.5px, -3.5px);
}

.toggle .toggle-menu {
  background-color: white;
}

.nav-list {
  list-style: none;
  margin-left: -30px;
  margin-top: -20px;
}

.nav-list-item {
  text-align: center;
  padding: 10px 0;
}

.nav-link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.item2 {
  display: none;
}

/* BURGER MENU END */
/* HEADER END */

/* LABEL START */
.label {
  display: flex;
  justify-content: center;
  height: 236px;
  background-color: #F9F7F4;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 77px;
  letter-spacing: 3.2px;
  color: #000000;
}

.label-content {
  display: inline;
  align-items: center;
  align-self: center;
  margin-bottom: 7px;
}

.label-content>p {
  margin: 0;
}

/* LABEL END */


.main-photo-content {
  width: 100%;
  height: auto;
}

/* LABEL 2 START */
.two {
  height: 365px;
  font-size: 34px;
  line-height: 141%;
  letter-spacing: 2px;
  text-align: center;
  background-color: #FEFDFC;
}

.content-two>p>a {
  align-self: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.content-two {
  transition: position 2s;
}

.content-two>.anim:hover {
  transform: scale(1.1);
}

/* LABEL 2 END */

/* BRANDS START */
.brands {
  height: 80px;
  background-color: #F9F7F4;
  display: flex;
  justify-content: center;
}

.brands-content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.brands-content>img {
  margin: 0px 23px;
}

/* BRANDS END */

/* PROPOSAL START */

.proposal {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.proposal-content {
  max-width: 1040px;
  align-self: center;
}

.proposal-item-one {
  margin-right: 10px;
}

.proposal-item-two {
  margin-left: 10px;
}

.proposal-item>img {
  overflow: hidden;
}

.proposal-item>img {
  transition: transform 0.25s;
}

.proposal-item:hover img {
  transform: scale(1.05);
}

.proposal-item>h3 {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 134%;
  letter-spacing: 0.7px;
  color: #000000;
  margin: 0;
}

.proposal-item>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #555555;
  padding-top: 13px;
  margin: 0;
  width: 484px;
}

/* PROPOSAL END */

/* ARRIVALS START */
.arrivals {
  display: flex;
  justify-content: center;
}

.arrivals-content {
  max-width: 1040px;
}

.arrivals-item {
  border: 1px solid #E0DBD2;
  background-color: #FFFFFF;
  width: 287px;
  margin: 0px 3px;
}

.center {
  align-self: center;
}

.arrivals-content>.none {
  border: none;
  width: auto;
  background-color: FEFDFC;
  margin: 0;
}

.none {
  padding-right: 115px;
}

.none>h2 {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 160%;
  letter-spacing: 2.4px;
  color: #000000;
  margin: 0;
}

.none>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 171%;
  color: #000000;
  margin: 0;
  margin-top: 30px;
}

.arrivals-btn {
  width: 153px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 108%;
  text-align: center;
  color: #000000;
  padding: 12px 0px;
  border: 1px solid #000000;
  margin-top: 20px;
}

.arrivals-item>.title {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: #383230;
  margin: 0;
}

.arrivals-item>.manufacturer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #8C8C8C;
  margin-top: 6px;
}

.arrivals-item>.seller {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #383230;
}

.arrivals-item>.price {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 109%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 14px;
}

.arrivals-item>.price>.colors {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 109%;
  text-transform: uppercase;
  color: #8C8C8C;
  margin-left: 9px;
}

.arrivals-item>p {
  margin-left: 15px;
}

.none>p {
  margin-left: 0;
}

.arrivals-item>.title {
  margin-left: 15px;
  margin-top: 15px;
}

.arrivals-item>.price {
  margin-bottom: 15px;
}

.new {
  position: absolute;
  margin: 11px;
  background-color: #FFFFFF;
  padding: 3px 5px;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 109%;
  text-transform: uppercase;
  color: #000000;
}

.quick-view-btn {
  width: 257px;
  height: 34px;
  background: #FFFFFF;
  font-size: 12px;
  border: 1px solid #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -40px;
  margin-left: 14.5px;
}

/* ARRIVALS END */

/* DRAFT START */
.draft {
  margin: 81px 0px;
  height: 16px;
  display: flex;
  justify-content: center;
}

.draft-content {
  display: flex;
  justify-content: center;
  max-width: 1040px;
  width: 100%;
}

.draft-content>.draft-icon {
  margin: 12px;
}

.draft-content>img {
  align-self: center;
}

.draft-content>.line {
  width: 48%;
}

/* DRAFT END */

/* HIIT START */
.hiit {
  display: flex;
  justify-content: center;
  margin-bottom: 118px;
}

.btn-content {
  display: flex;
}

.btn-content>.arrivals-btn {
  align-self: flex-end;
  width: 130px;
  margin: 0;
  padding: 7px 0px;
}

.hiit-content {
  max-width: 1040px;
  margin-top: 40px;
}

.hiit-content>.text-content>.title {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 155%;
  letter-spacing: 2px;
  color: #000000;
  margin: 0;
}

.hiit-content>.text-content>.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 171%;
  color: #000000;
  margin: 0;
}

.second {
  display: inline;
  justify-content: space-between;
}

.tovars-row {
  display: flex;
  justify-content: space-between;
}

.tovars-container>.second {
  padding-top: 19px;
}

.tovars-container>.tovars-row>.arrivals-item {
  margin-left: 38px;
  height: 357px;
  width: 228px;
  flex-wrap: wrap;
}

.tovars-container>.tovars-row>.arrivals-item>img {
  width: 228px;
}

.tovars-container>.tovars-row>.arrivals-item>.title {
  font-size: 14px;
}

.tovars-container>.tovars-row>.arrivals-item>.quick-view-btn {
  width: 198px;
}

/* HIIT END */

/* EXPLORE START */
/* <section class="explore">
<div class="explore-content container">
    <div class="title-container">Explore even more.</div>
    <div class="categories flex-between">
        <div class="item"> */

.explore {
  display: flex;
  justify-content: center;
}

.explore-content {
  max-width: 1040px;
  width: 100%;
}

.explore-content>.title-container {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 137%;
  letter-spacing: 0.8px;
  color: #383230;
  margin: 0;
}

.categories {
  margin-top: 20px;
}

.categories>.item>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  margin-top: 7px;
}
/* EXPLORE END */


/* PROPOSAL TWO START */

/* PROPOSAL TWO END */


/* ADAPTIVE START */
@media (max-width: 1200px) {
  .header-section>ul>li {
    margin: 0px 6px;
  }

  .proposal-item>img,
  .proposal-item>p {
    width: 400px;
  }

  .none {
    padding-right: 15px;
  }

  .hiit-content>.img-container>img {
    width: 450px;
  }

  .tovars-container>.tovars-row>.arrivals-item>img {
    width: 180px;
  }

  .tovars-container>.tovars-row>.arrivals-item {
    margin-left: 18px;
    height: 320px;
    width: 180px;
  }

  .tovars-container>.tovars-row>.arrivals-item>.quick-view-btn {
    width: 148px;
  }
}

@media (max-width: 992px) {
  .menu-icon {
    display: inline;
    margin-right: 8px;
  }

  .menu {
    display: none;
  }

  .proposal-item>img,
  .proposal-item>p {
    width: 350px;
  }

  .none {
    padding-right: 0;
    padding-bottom: 50px;
    text-align: center;
  }

  .arrivals-btn-parent {
    display: flex;
    justify-content: center;
  }

  .arrivals-content {
    display: block;
  }

  .hiit-content>.img-container>img {
    width: 348px;
  }

  .tovars-container>.tovars-row>.arrivals-item>img {
    width: 130px;
  }

  .tovars-container>.tovars-row>.arrivals-item {
    margin-left: 10px;
    height: 245px;
    width: 130px;
  }

  .tovars-container>.tovars-row>.arrivals-item>.title {
    margin-left: 10px;
    margin-top: 5px;
  }

  .tovars-container>.tovars-row>.arrivals-item>p {
    margin-left: 10px;
  }

  .tovars-container>.tovars-row>.arrivals-item>.quick-view-btn {
    width: 108px;
  }

  .tovars-row>.arrivals-item>.seller {
    font-size: 8px;
  }

  .tovars-row>.arrivals-item>.manufacturer {
    font-size: 10px;
  }

  .tovars-row>.arrivals-item>.price,
  .tovars-row>.arrivals-item>.colors {
    font-size: 11px;
  }

  .hiit-content {
    justify-content: center;
  }

  .categories {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .item {
    padding-top: 20px;
    margin: 5px;
  }
}

@media (max-width: 768px) {
  .label {
    font-size: 36px;
    height: 176px;
  }

  .two {
    font-size: 24px;
    height: 176px;
  }

  .content-two>p>a {
    font-size: 12px;
  }

  .brands-content>img {
    margin: 0px 9px;
    height: 16px;
  }

  .proposal-content {
    display: inline;
  }

  .proposal-item {
    padding-top: 60px;
    margin: 0;
  }

  .proposal-item>img,
  .proposal-item>p {
    width: 500px;
  }

  .arrivals-item>img,
  .arrivals-item {
    width: 280px;
  }

  .hiit-content {
    display: inline;
  }

  .hiit-content>.img-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  .tovars-container {
    margin-top: 25px;
  }

  .tovars-row {
    justify-content: center;
  }

  .hiit-content {
    text-align: center;
  }

  .hiit-content>.btn-content {
    display: flex;
    justify-content: center;

  }

  .hiit-content>.btn-content>.arrivals-btn {
    margin-top: 10px;
  }

  .hiit-content>.img-container>img {
    width: 468px;
  }

  .tovars-container>.tovars-row>.arrivals-item {
    margin: 0;
  }

  .tovars-container>.tovars-row>.arrivals-item>img {
    width: 228px;
  }

  .tovars-container>.tovars-row>.arrivals-item {
    margin: 5px;
    height: 360px;
    width: 228px;
  }

  .tovars-container>.tovars-row>.arrivals-item>.title {
    margin-left: 15px;
    margin-top: 15px;
  }

  .tovars-container>.tovars-row>.arrivals-item>p {
    margin-left: 15px;
  }

  .tovars-container>.tovars-row>.arrivals-item>.quick-view-btn {
    width: 200px;
  }

  .tovars-row>.arrivals-item>.seller {
    font-size: 12px;
  }

  .tovars-row>.arrivals-item>.manufacturer {
    font-size: 12px;
  }

  .explore-content > .title-container {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .container {
    margin: 0px 20px;
  }

  .promo-content {
    justify-content: center;
  }

  .header-section {
    width: 100%;
  }

  .right-menu {
    display: none;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-bar {
    width: 100%;
  }

  .item2 {
    display: block;
  }

  .label {
    font-size: 24px;
    height: 136px;
  }

  .two {
    font-size: 14px;
    height: 136px;
  }

  .content-two>p>a {
    font-size: 8px;
  }

  .brands-content {
    flex-wrap: wrap;
  }

  .brands-content>img {
    margin: 7px 9px;
  }

  .brands {
    height: 120px;
  }

  .proposal-item>img,
  .proposal-item>p {
    width: 280px;
  }

  .arrivals {
    margin-top: 30px;
  }

  .arrivals-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .arrivals-item {
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
  }

  .draft {
    margin: 21px 0px;
  }

  .hiit-content>.img-container>img {
    width: 280px;
  }

  .tovars-row {
    display: grid;
  }

  .tovars-container>.tovars-row>.arrivals-item>img {
    width: 280px;
  }

  .tovars-container>.tovars-row>.arrivals-item {
    margin: 5px;
    height: 430px;
    width: 280px;
    margin-top: 20px;
  }

  .tovars-container>.tovars-row>.arrivals-item>.quick-view-btn {
    width: 250px;
  }

  .tovars-container>.tovars-row>.arrivals-item>.title {
    font-size: 22px;
  }

  .tovars-row>.arrivals-item>.seller {
    font-size: 12px;
  }

  .tovars-row>.arrivals-item>.manufacturer {
    font-size: 12px;
  }

  .tovars-row>.arrivals-item>.price,
  .tovars-row>.arrivals-item>.colors {
    font-size: 13px;
  }

  .explore {
    margin-top: 50px;
  }
}

/* ADAPTIVE END */